.carousel-item img {
    height: 550px;
    object-fit: cover;
    object-position: 50% 35%;
}

.carousel-item h1 {
    color: white;
    font-size: 3.5em;
}

.my-form-container {
    max-width: 600px;
}

form .col {
    margin: 10px 0;
}

form .col-md-6 {
    margin: 10px 0;
}

.footer {
    background-color: #343a40;
    color: whitesmoke;
    padding: 20px;
}

.carousel-caption {
    top: auto;
    bottom: 40%;
}

.about-me {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #343a40;
}

.my-accordion {
    margin: 0 30px;
    padding: 30px 10px;
}

.my-skills {
    padding-top: 20px;
    padding-bottom: 20px;
}

.looking-for {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #343a40;
}

.my-gap {
    min-height: 5px;
}