.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

footer {
  background-color: #001233;
  text-align: center;
  padding: 1rem;
}

section {
  padding: 2rem;
}

section h2 {
  margin-bottom: 1rem;
}

section:nth-child(odd) {
  background-color: #33415C;
}

section:nth-child(even) {
  background-color: transparent;
}

header {
  background-color: #001233;
  padding: 0rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.nav-small {
  display: none;
  justify-content: space-between;
  align-items: left;
}

.auth-icon {
  display: none;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  padding: .5rem 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #001233;
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-small {
    display: flex;
  }

  .navbar-toggler {
    display: flex;
  }

  .nav-button {
    display: block;
    width: 100%;
  }

  .auth-text {
    display: none;
  }

  .auth-icon {
    display: block;
  }
}

form {
  padding: 1rem 2rem;
  background-color: #33415C;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

form h1 {
  text-align: center;
  margin: 0;
}

form p {
  text-align: center;
}

.clickable-text {
  text-decoration: underline;
  color: #55f;
  cursor: pointer;
}

.accordion {
  overflow: hidden;
}

.accordion-button {
  width: 100%;
  text-align: left;
  padding: 1.5rem 1rem;
}

.accordion-collapse {
  display: none;
  padding: 1rem;
  background-color: #33415C;
}

.accordion-collapse.show {
  display: block;
}

.accordion-body a {
  color: #fff;
}

.accordion-body a:hover {
  color: #55f;
}

.sm-sections {
  gap: 1rem;
  padding: 2rem;
  background-color: transparent;
}

.sm-section {
  display: flex;
  justify-content: space-between;
  background-color: #33415C;
  align-items: left;
  text-align: left;
  width: 100%;
  padding-left: 1rem;
  border-bottom: 2px solid #FFFFFF; 
}

.sm-section.selected {
  background-color: #023E7D;
}
